/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);

.icon-block {
  padding: 0 1em;
}

.icon-block .material-icons {
	font-size: inherit;
}

a{
	cursor: pointer;
}

.dt-button {
  color: #303f9f;
}

.modal {
	width: 40% !important ;
	max-height: 95% !important ;
	overflow-y: hidden !important ;
	margin-top: 5%;
}

.card-panel {
    cursor: pointer;
}

.card-content h3 {
  font-size: 1.5em;
  margin-bottom: 0;
  color: #303F9F;
  font-family: 'Arial', sans-serif;
}

.card-content h4 {
  font-size: 1.125em;
  margin-top: 10px;
  color: #FF5252;
  font-family: 'Arial', sans-serif;
}

#session-name{
  color: #a30dad;
  font-size: 1.1em;
}

#session-details{
  font-size: 1.3em;
}

.share-button{
  border-radius: 0.75em;
  background-color: white;
  color: black;
  border: 2px solid #1c0dad;
  margin-bottom: 5%;
}

.share-button:hover{
  background-color: white;
}

.datatable-button{
  border-radius: 0.75em;
  background-color: white;
  color: black;
  border: 2px solid #1c0dad;
}

.datatable-button:hover{
  background-color: #99A9CA;
}

#search-btn{
 border-radius: 12%;
 background-color: #BF4C51;
}

.badge1 {
   position:relative;
}

.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:10%;
   right:-0.3%;
   font-size:.7em;
   background:green;
   color:white;
   width:1.125em;height:1.125em;
   text-align:center;
   line-height:1.125em;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.chip2{
    height: auto;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.chip{
    height: auto;
}

.material-icons{
    display: inline-flex;
    vertical-align: middle;
}

.container{
    width: 55%;
}

.button4:hover

    {

         background-color:#1e88e5

!important;

        color: white !important;

       }

#show{
    overflow-y: scroll;
    height:40em;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px)  {
    .container{
        width: 80%;
        height:100%;
    }
    #show{
        height: 30rem;
    }
    .modal { width: 95% !important ; height: 90% !important ; }
}

.hovera{
    cursor: pointer;
}

.scrollbar{
    overflow-y: scroll;
    width:100%;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.force-overflow
{
	min-height: 1000px;
}

li{
  list-style-type: circle;
}
